@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0F;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Cyberpunk grid patter//n */
.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(236,72,153,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(236,72,153,0.1) 1px, transparent 1px);
}